{% extends 'base/accounts_base.html' %}
{% load static %}
{% block account_content %}

{% block account_create %}
{% endblock %}
 <div class="col-lg-6 col-md-6">
                    <div class="contact__content">
                        <div class="contact__form">
                            <h2>Sign up</h2>
                            <form method="post">
                              {% csrf_token %}
                              {{ form.as_p }}
                              <button type="submit">SignUp</button>
                                <a href="/accounts/login/">Already Registered?</a>
                            </form>
                        </div>
                    </div>
                </div>
{% endblock %}