{% load custom_filters %}

 <div class="col-lg-3 col-md-4 col-sm-6 mix {{2|getrandcategory}}">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/media/{{cat}}/{{title|encode_space}}/{{cat|get_first_image:title}}">
                        <ul class="product__hover">
                            <li><a href="/media/{{cat}}/{{title|encode_space}}/{{cat|get_first_image:title}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/product_details/{{id}}">{{title}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ {{price}}</div>
                    </div>
                </div>
            </div>