{% extends 'base/skeleton.html' %}
{% load static %}
{% block content %}
{% load custom_filters %}


    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb__links">
                                <a href="/"><i class="fa fa-home"></i> Home</a>
                                <span>{{object.category}}</span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>


    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            {% for data in object.category|get_image_list:object.product_title %}
                                <a class="pt active" href="#product-{{forloop.counter}}">
                                    <img src="/media/{{object.category}}/{{object.product_title}}/{{data}}" alt="">
                                </a>
                            {% endfor %}
                        </div>

                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                {% for data in object.category|get_image_list:object.product_title %}
                                    <img data-hash="product-{{forloop.counter}}" class="product__big__img"
                                         src="/media/{{object.category}}/{{object.product_title}}/{{data}}" alt="">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{object.product_title}}<span>Brand:SKMEI</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( {{200|get_rand}} reviews )</span>
                        </div>
                        <div class="product__details__price">
                              {% if object.discount_price %}
                                  <del>${{ object.price }}</del>
                                  <span style="text-decoration: solid;">${{ object.price|calculate_disc:object.discount_price }}.0</span>
                              {% else %}
                                 <span  style="text-decoration: solid;">${{ object.price }}</span>
                              {% endif %}

                        </div>
                        <p>{{ object.description }}</p>
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Quantity:</span>
                                <div class="pro-qty">
                                    <input id="quantity" type="text" value="1">
                                </div>
                            </div>
<!--                            /add-to-cart/12/-->
                            <button style="border: none;" id="add_cart" class="cart-btn"><span class="icon_bag_alt"></span>Add to cart</button>

                            <ul>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Availability:</span>
                                    <div class="stock__checkbox">
                                        <label for="stockin">
                                            In Stock
                                            <input type="checkbox" id="stockin" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Available colors:</span>
                                    <div class="color__checkbox">
                                        <label for="red">
                                            <input type="radio" name="color__radio" id="red" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label for="black">
                                            <input type="radio" name="color__radio" id="black">
                                            <span class="checkmark black-bg"></span>
                                        </label>
                                        <label for="grey">
                                            <input type="radio" name="color__radio" id="grey">
                                            <span class="checkmark grey-bg"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Available size:</span>
                                    <div class="size__btn">
                                        {% for value in object.size.choices %}
                                        <label for="xs-btn">
                                            <input type="radio" id="xs-btn">
                                            {{value}}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 1 )</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                <p></p>
                                <p>{{ object.description }}
                                    Size & Fit
                                    Regular Fit

                                    Material & Care
                                    Material: 100% cotton
                                    Machine Wash</p>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Specification</h6>
                                <p>Shape : Sheath<br>
                                   Neck : Round Neck<br>
                                   Print or Pattern Type : Solid<br>
                                   Sleeve Length : Short Sleeves<br>
                                   Sleeve Styling : Regular Sleeves<br>
                                   Occasion : Casual<br>
                                </p>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Reviews ( 1 )</h6>
                                <p>Awesome Product</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                {% for data in related_products %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/media/{{data.category}}/{{data.product_title|encode_space}}/{{data.category|get_first_image:data.product_title}}">
                            <ul class="product__hover">
                                <li><a href="/media/{{data.category}}/{{data.product_title|encode_space}}/{{data.category|get_first_image:data.product_title}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text" onclick="window.location.href='/product_details/{{data.id}}'">
                            <h6><a href="/product_details/{{data.id}}">{{data.product_title}}</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ ${{data.price}}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

{% endblock content %}
{% block custom_js %}
<script>

    $("#add_cart").click(function() {
        console.log("clicked");
        var quantity = $("#quantity").val();
        window.location.href = '/add-to-cart/{{object.id}}/'+quantity;
    });

</script>


{% endblock %}