{% extends 'base/skeleton.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}


    <!-- Breadcrumb Begin -->
    {% include 'includes/sub_header.html' with title='Shopping-Cart' %}
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total Item Price</th>
                                </tr>
                            </thead>
                            <tbody>
                           {% for order_item in object.items.all %}
                              <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ order_item.product_info.product_title }}</td>
                                <td>
                                {% if order_item.product_info.discount_price %}
                                  <del>${{ order_item.product_info.price }}</del>
                                  ${{ order_item.product_info.price|calculate_disc:order_item.product_info.discount_price }}
                              {% else %}
                                 ${{ order_item.product_info.price }}
                              {% endif %}

                                </td>
                                <td>
                                    <a href="/reduce-quantity-item/{{order_item.product_info.pk}}"><i class="fas fa-minus mr-2"></i></a>
                                    {{ order_item.quantity }}
                                    <a href="/add-to-cart/{{order_item.product_info.pk}}"><i class="fas fa-plus ml-2"></i></a>
                                </td>
                                <td>
                                {% if order_item.product_info.discount_price %}
                                    <span class="itm_total">{{ order_item.get_total_price }}</span>
                                    <span class="badge badge-success" >Saved ${{ order_item.get_amount_saved }}</span>
                                {% else %}
                                    <span class="itm_total">${{ order_item.get_total_item_price}}</span>
                                {% endif %}
                                 <a href="/remove-from-cart/{{order_item.product_info.pk}}">
                                    <i class="fa fa-trash-o" style="font-size:29px;color:red"></i>
                                 </a>

                                </td>
                             </tr>
                            {% empty %}
        <tr>
            <td colspan="5">Your Cart Empity</td>
        </tr>

         <tr>
            <td colspan="5">
                <a href="/" class="btn btn-primary float-right">Continue Shopping</a>
            </td>
        </tr>

        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if object.get_total_price %}
                <tr>
                    <td colspan="4"><b>Total Order Price</b></td>
                    <td>$ <span id="grand_total">{{object.price}}</span></td>
                </tr>
                 <tr>
                    <td colspan="5">
                        <button onclick="checkout()" class="btn btn-warning float-right ml-2">Checkout</button>
                        <a href="/" class="btn btn-primary float-right">Continue Shopping</a>
                    </td>
                </tr>

             {% endif %}

        </div>
    </section>
    <!-- Shop Cart Section End -->

{% endblock %}
{% block custom_js %}
<script>

total = 0;
$(".itm_total").each(function() {
    var val = $(this).html();
    total = total + parseInt(val);
});
$("#grand_total").html(total);

function checkout(){
    window.location.href = '/checkout/';
}
</script>

{% endblock %}